
  .container
    {
width: 50%; 
margin: auto;
    }

body
  { 
  font-family: 'Slabo 27px', serif;
  }

h1 {
  font-size: 25px;
  font-weight: bold;
}
header {
  text-align: center;
  padding: 50px;
}

table /* style for the game squares*/
  {
  text-align: center;
  border:1px solid black;
  margin: 0 auto;
  }

th {
  border:1px solid black;

}
td {
  border:1px solid black;
  width: 100px;
  height:100px;
  padding:20px;

}
 #prompt {
  
 }